
.activeClass {
  background-color: rgba(165, 192, 209, .50);
}

body {
  background-size: cover;
  background-image: url("../img/bg-pink.jpg");
}

img {
  width: 200px;
}

/*button {
  margin: 2vh 1vw 2vh;
}*/

.top-content {
  /*background-color: rgba(165, 192, 209, .50);*/
  text-align: center;
  height: 26vh;
  padding-top: 15%;
}

.bottom-content {
  margin-top: 15px;
}

html, body {
  height: 100vh;
}

button {
  margin-top: 10px;
}

.reset {
  display: none;
}

.outer-wrapper {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.player1 {
  /*background-color: rgba(165, 192, 209, .50);*/
  /*margin-left: 20px;*/
  padding: 10px;
}
.player2 {
  /*background-color: rgba(165, 192, 209, .50);*/
  /*margin-left: 20px;*/
  padding: 10px;
}
